.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-header {
    background: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid #424242;
}

.modal-body {
    background: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.6);
}

.modal-footer {
    background: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid #424242;
}

.close {
    color: #e5e5e5;
    opacity: 0.6;
}

.close:hover {
    color: white;
    opacity: 1.0;
}